Q1.리스트의 삭제
다음리스트에서 400, 500를 삭제하는 code를 입력하세요.

nums = [100, 200, 300, 400, 500]

In [2]:
nums = [100, 200, 300, 400, 500]
nums.pop()
nums.pop()
print(nums)

[100, 200, 300]

Q2.리스트의 내장함수
1 = [200, 100, 300]
<pass>
print(1)
    
<pass> 부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.
    
>> 출력
[200, 100, 10000, 300]

In [6]:
l= [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

Q3.변수의 타입
다음 출력 값으로 올바른 것은?
l = [100, 200, 300]
print(type(l))
1)  class 'str'
2)  class 'int'
3)  class 'list'
4)  class 'tuple'