Q1.리스트의 삭제
다음리스트에서 400, 500를 삭제하는 code를 입력하세요.

nums = [100, 200, 300, 400, 500]

In [5]:
nums = [100, 200, 300, 400, 500]
nums.pop()
# 마지막 자리의 변수를 삭제한다.
nums.pop()
print(nums)

[100, 200, 300]



Q2.리스트의 내장함수
1 = [200, 100, 300]
<pass>
print(1)
    
<pass> 부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.
    
>> 출력
[200, 100, 10000, 300]

In [6]:
l= [200, 100, 300]
l.insert(2, 10000)
# l의 2번째 자리에 10000을 기입한다.
print(l)

[200, 100, 10000, 300]



Q3.변수의 타입
다음 출력 값으로 올바른 것은?
l = [100, 200, 300]
print(type(l))
1)  class 'str'
2)  class 'int'
3)  class 'list'
4)  class 'tuple'

In [7]:
l = [100, 200, 300]
print(type(l))
# [] 안에 나열된 변수는 list 이다.

<class 'list'>


Q4.다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

1)  입력 : a =1,   출력 : class 'int'

2)  입력 : a = 2.22,   출력 : class 'float'

3)  입력 : a = 'p',   출력 : class 'char'

4)  입력 : a = [1, 2, 3],   출력 : class 'list'

In [14]:
a = 1
b = 2.22
c = 'p'
# 'p' 는 char이 아닌 str이다. char은 성질을 가진 문자열이다.
d = [1, 2, 3]
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'list'>

Q5.다음 코드의 출력 값으로 알맞은 것은?
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)

In [1]:
a = 10
b = 2
for i in range(1, 5, 2):
# range 첫, 두 번째 인 수는 시작과 끝의 인수, 세 번째 인수는 숫자 사이의 거리를 말한다.    
    a += i

print(a+b)

16